node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts



git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/ronkips/flashloan_listener.git
git push -u origin main